/* body{
  color: #ff9900
} */
input[type="text"] {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#game {
  display: none;
}
#gameBody {
  /* position: relative; */
}
#playerTurn {
  /* position: absolute; */
  /* top:57px; */
}
