body{
  font-family: 'Ubuntu', sans-serif;
}
input[type="text"] {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#game {
  display: none;
}
#roll2,#hold2{
  display: none;
}
